/* автоматически сгенерированный файл */
:root{
--background:#ffffff;
--gradientFirstColor:transparent;
--gradientSecondColor:transparent;
--textColor:#5b5b5b;
--fontSize:16;
--buttonAndLinkColor:#007aff;
--linkColorHovered:#276fbd;
--mainMenuColor:transparent;
--mainMenuHoverColor:transparent;
--accent:#ff9f26;
--halfAccent:transparent;
--fontFamily: sans-serif;
--altColor:#ffffff;
}