/* автоматически сгенерированный файл */
:root{
--background:transparent;
--gradientFirstColor:transparent;
--gradientSecondColor:transparent;
--textColor:transparent;
--fontSize:;
--buttonAndLinkColor:transparent;
--linkColorHovered:transparent;
--mainMenuColor:transparent;
--mainMenuHoverColor:transparent;
--accent:transparent;
--halfAccent:transparent;
--fontFamily:;
--altColor:transparent;
}