@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.PublishedCache;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_master.cshtml";
    var childList = Model?.Children.Where(x => x.IsVisible());
}

<section class="winnerCatlog block block--inner _noMarginBottom" style="--veil: 0;">
    <div class="block__content">
        <div class="block__header-row">
            <h1 class="block__title">@(Model.HasValue("title") ? Model.Value("title") : Model.Name())</h1>
            @if (childList?.Count() > 0)
            {
                <div class="block__titlecount">@childList?.Count()</div>
            }
        </div>
    </div>
</section>
@if (childList?.Count() > 0)
{
<section class="block _noMarginBottom" style="--veil: 0;">
    <div class="block__content">
    </div>
    </section>
}
else
{
    <div class="block__content">
        <div class="block__title">Пока тут ничего нет. Но скоро появиться :)</div>
    </div>
}

@{
    var contentBlocks = Model.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("contentBlocks")!;
    if (contentBlocks != null)
    {
        var index = 0;
        ViewData["page"] = Model;
        foreach (var block in contentBlocks)
        {
            ViewData["blockIndex"] = index++;
            ViewData["settings"] = block.Settings;
            @await Html.PartialAsync("blocks/" + block.Content.ContentType.Alias, block.Content)
        }
    }
}