@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.PTexpTitleBtn>

<div class="publicationBlock">
    <div class="publicationBlock__container">
        @if (Model.HasValue("title"))
        {
            <h2 class="publicationBlock__title">@Html.Raw(Model.Title)</h2>
        }
        <div class="publicationBlock__content text">@Model.TextContent</div>

        @if (Model.HasValue("btn"))
        {
            <div class="publicationBlock__action">
                <a href="@Model.Btn?.Url" class="btn btn--icon">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24">
                            <path fill="none" fill-opacity=".01" d="M0 0h24v24H0z" />
                            <path fill="currentColor" fill-rule="evenodd" d="M13.62 4.808c1.081-.735 2.45-.75 3.466-.082.23.152.477.393 1.136 1.052.66.659.9.905 1.052 1.136.667 1.016.653 2.385-.082 3.467-.168.247-.428.512-1.111 1.195l-.99.99a.8.8 0 0 0 1.131 1.131l.99-.99.07-.069c.59-.59.969-.97 1.233-1.358 1.08-1.59 1.136-3.66.096-5.244-.254-.387-.623-.756-1.186-1.318l-.071-.072-.072-.071c-.562-.563-.931-.932-1.318-1.186-1.584-1.04-3.654-.985-5.244.096-.389.264-.767.643-1.359 1.234l-.068.069-.99.99a.8.8 0 1 0 1.131 1.13l.99-.989c.683-.683.948-.943 1.195-1.11Zm-6.711 6.626a.8.8 0 0 0-1.132-1.131l-.99.99-.068.069c-.592.59-.97.97-1.234 1.358-1.08 1.59-1.137 3.66-.096 5.245.253.386.623.756 1.186 1.317l.07.072.072.071c.562.563.932.933 1.318 1.186 1.584 1.04 3.654.985 5.245-.096.389-.264.767-.642 1.358-1.234l.069-.068.99-.99a.8.8 0 0 0-1.131-1.132l-.99.99c-.684.684-.948.943-1.195 1.11-1.083.736-2.45.75-3.467.083-.231-.152-.478-.392-1.137-1.051-.659-.66-.9-.906-1.05-1.137-.668-1.016-.654-2.384.081-3.467.168-.247.428-.511 1.11-1.195l.99-.99Zm8.486-1.697a.8.8 0 0 0-1.132-1.132l-5.657 5.657a.8.8 0 1 0 1.132 1.131l5.657-5.656Z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="label">@Model.Btn?.Name</span>
                </a>
            </div>
        }
    </div>
</div>