<?xml version="1.0" encoding="utf-8"?>
<Content Key="af609947-dfed-416a-948d-5236090c4ecc" Alias="404" Level="2">
  <Info>
    <Parent Key="b0d2305d-b942-4e5c-b365-40748fde1c0b">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2024-02-29T15:13:21</CreateDate>
    <NodeName Default="404" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="39d0e9c2-cade-4ce9-b66c-7398b0e4861a">error404</Template>
  </Info>
  <Properties>
    <hideFromMenuDesktop>
      <Value><![CDATA[0]]></Value>
    </hideFromMenuDesktop>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideInBreadCrambs>
      <Value><![CDATA[0]]></Value>
    </hideInBreadCrambs>
    <isShowChildrens>
      <Value><![CDATA[0]]></Value>
    </isShowChildrens>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>