<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2c6ebf7-5988-438c-b48c-d5a8baea0a60" Alias="Вова" Level="3">
  <Info>
    <Parent Key="adaf40fc-3a28-4f97-b9eb-cba288e0783b">Персоны</Parent>
    <Path>/Home/Persony/Vova</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-10-11T14:08:33</CreateDate>
    <NodeName Default="Вова" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6ebb234a788d4b6fb89f0a7e31d60c95",
        "settingsUdi": "umb://element/ea22d539fd5e49ae8c0b90a41f753c02"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f66f8da-28d9-456e-9c52-3118af5b84e0",
      "udi": "umb://element/6ebb234a788d4b6fb89f0a7e31d60c95"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/ea22d539fd5e49ae8c0b90a41f753c02"
    }
  ]
}]]></Value>
    </contentBlocks>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "df3ab0db-0c47-475f-b824-0a9b331f8824",
    "mediaKey": "07933181-681a-42e2-90cd-ebe0e5768b91"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <personLink>
      <Value><![CDATA[]]></Value>
    </personLink>
    <personName>
      <Value><![CDATA[Вова]]></Value>
    </personName>
    <personSpecialty>
      <Value><![CDATA[психолог]]></Value>
    </personSpecialty>
    <presonContacts>
      <Value><![CDATA[<p>выы мывпа ваыпыв п р пара про про в п вф ва папр орол до а  фывф</p>]]></Value>
    </presonContacts>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>