<?xml version="1.0" encoding="utf-8"?>
<Content Key="853a3509-1a44-4ed4-a21a-f133735812d1" Alias="Настройки темы" Level="102">
  <Info>
    <Parent Key="321023b8-9fab-4fe0-b8ee-7f15cf76e90d">Dress Change</Parent>
    <Path>/[-20]/DressChange/NastroikiTemy</Path>
    <Trashed Parent="321023b8-9fab-4fe0-b8ee-7f15cf76e90d">true</Trashed>
    <ContentType>themeEditor</ContentType>
    <CreateDate>2023-03-14T12:17:18</CreateDate>
    <NodeName Default="Настройки темы" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accent>
      <Value><![CDATA[]]></Value>
    </accent>
    <background>
      <Value><![CDATA[]]></Value>
    </background>
    <buttonAndLinkColor>
      <Value><![CDATA[#eb445a]]></Value>
    </buttonAndLinkColor>
    <fontSize>
      <Value><![CDATA[16px]]></Value>
    </fontSize>
    <gradientFirstColor>
      <Value><![CDATA[#e9f9fd]]></Value>
    </gradientFirstColor>
    <gradientSecondColor>
      <Value><![CDATA[#f6ecea]]></Value>
    </gradientSecondColor>
    <halfAccent>
      <Value><![CDATA[]]></Value>
    </halfAccent>
    <linkColorHovered>
      <Value><![CDATA[#cf3c4f]]></Value>
    </linkColorHovered>
    <mainMenuColor>
      <Value><![CDATA[]]></Value>
    </mainMenuColor>
    <mainMenuHoverColor>
      <Value><![CDATA[]]></Value>
    </mainMenuHoverColor>
    <textColor>
      <Value><![CDATA[#3a3a3c]]></Value>
    </textColor>
  </Properties>
</Content>