<?xml version="1.0" encoding="utf-8"?>
<Content Key="82adec44-720f-4ab0-b472-55325a06167d" Alias="Новости1" Level="3">
  <Info>
    <Parent Key="5f2bd0fa-f2a8-48c9-8557-3ca45d8eb53b">Новости</Parent>
    <Path>/Home/Novosti/Novosti1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-09T18:51:12</CreateDate>
    <NodeName Default="Новости1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2c3935-10b7-4e58-b124-a3b10f607ee6">pageNewsItem</Template>
  </Info>
  <Properties>
    <brief>
      <Value><![CDATA[<p>Новости1Новости1Новости1Новости1Новости1</p>
<p>Новости1Новости1Новости1Новости1</p>]]></Value>
    </brief>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3dcf254d32db421d92cf31b3742f2baa",
        "settingsUdi": "umb://element/5c1c99bc4d784bb99ac6a8a586424556"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f66f8da-28d9-456e-9c52-3118af5b84e0",
      "udi": "umb://element/3dcf254d32db421d92cf31b3742f2baa"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/5c1c99bc4d784bb99ac6a8a586424556"
    }
  ]
}]]></Value>
    </contentBlocks>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "777230ee-85bd-4de0-9c91-73d8e8853ae7",
    "mediaKey": "c2787463-1c35-410d-a67e-bbbc04bd021a"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <newsDate>
      <Value><![CDATA[2023-10-09T12:00:00]]></Value>
    </newsDate>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <title>
      <Value><![CDATA[Новости1]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>