<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f2bd0fa-f2a8-48c9-8557-3ca45d8eb53b" Alias="Новости" Level="2">
  <Info>
    <Parent Key="b0d2305d-b942-4e5c-b365-40748fde1c0b">Home</Parent>
    <Path>/Home/Novosti</Path>
    <Trashed>false</Trashed>
    <ContentType>newsStorage</ContentType>
    <CreateDate>2023-10-09T18:49:57</CreateDate>
    <NodeName Default="Новости" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3ac265d-8d39-4137-9480-6174d3eb2d2a">pageNewsCatalog</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>