<?xml version="1.0" encoding="utf-8"?>
<Content Key="94321e5f-50de-4bfe-876f-e6087ed17488" Alias="Новости2" Level="102">
  <Info>
    <Parent Key="5f2bd0fa-f2a8-48c9-8557-3ca45d8eb53b">Новости</Parent>
    <Path>/[-20]/Novosti/Novosti2</Path>
    <Trashed Parent="5f2bd0fa-f2a8-48c9-8557-3ca45d8eb53b">true</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-09T18:52:09</CreateDate>
    <NodeName Default="Новости2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2c3935-10b7-4e58-b124-a3b10f607ee6">pageNewsItem</Template>
  </Info>
  <Properties>
    <brief>
      <Value><![CDATA[<p>Новости2Новости2Новости2мНовости2</p>]]></Value>
    </brief>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/21c78cdc210547bf92b7225a8b6ad633",
        "settingsUdi": "umb://element/7230610d0e1842f0aecb9eb32d98dd2c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f66f8da-28d9-456e-9c52-3118af5b84e0",
      "udi": "umb://element/21c78cdc210547bf92b7225a8b6ad633"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/7230610d0e1842f0aecb9eb32d98dd2c"
    }
  ]
}]]></Value>
    </contentBlocks>
    <hideFromMenuDesktop>
      <Value><![CDATA[]]></Value>
    </hideFromMenuDesktop>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideInBreadCrambs>
      <Value><![CDATA[]]></Value>
    </hideInBreadCrambs>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <isShowChildrens>
      <Value><![CDATA[]]></Value>
    </isShowChildrens>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <newsDate>
      <Value><![CDATA[2023-09-05T12:00:00]]></Value>
    </newsDate>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <title>
      <Value><![CDATA[Новости2]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>