<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ce78df2-2b4f-4e77-9157-80f66a21bd10" Alias="Новости1Новости1Новости1" Level="3">
  <Info>
    <Parent Key="5f2bd0fa-f2a8-48c9-8557-3ca45d8eb53b">Новости</Parent>
    <Path>/Home/Novosti/Novosti1Novosti1Novosti1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-09T18:51:50</CreateDate>
    <NodeName Default="Новости1Новости1Новости1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1d2c3935-10b7-4e58-b124-a3b10f607ee6">pageNewsItem</Template>
  </Info>
  <Properties>
    <brief>
      <Value><![CDATA[<p>Новости1Новости1Новости1Новости1Новости1Новости1</p>
<p>Новости1Новости1Новости1Новости1</p>]]></Value>
    </brief>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f2d8914804cb48cf82f59f14cb2d6557",
        "settingsUdi": "umb://element/b28fb99523794600a433007ef06af63e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8bd5c8fb-e289-477a-b52b-7e0ac7cead58",
      "udi": "umb://element/f2d8914804cb48cf82f59f14cb2d6557",
      "title": "Новости1",
      "contents": "<p>Новости1Новости1Новости1Новости1</p>\n<p>Новости1Новости1Новости1Новости1Новости1</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/b28fb99523794600a433007ef06af63e"
    }
  ]
}]]></Value>
    </contentBlocks>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "9750f2a2-e675-4b58-a8ea-f9e6ef21e64d",
    "mediaKey": "07933181-681a-42e2-90cd-ebe0e5768b91"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <newsDate>
      <Value><![CDATA[2023-11-16T12:00:00]]></Value>
    </newsDate>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <title>
      <Value><![CDATA[Новости1Новости1Новости1]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>