<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b01ddaa-59b3-439d-8970-8efe0e506a5e" Alias="Образец формы с полями" Level="2">
  <Info>
    <Parent Key="be1f522a-982d-4b13-89bf-fec8b29ce7ad">Шаблоны форм</Parent>
    <Path>/ShablonyForm/ObrazefFormySPolyami</Path>
    <Trashed>false</Trashed>
    <ContentType>formTemplate</ContentType>
    <CreateDate>2023-03-02T11:31:18</CreateDate>
    <NodeName Default="Образец формы с полями" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customForm>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/83ae7b413fa04f268860f8102ec9b8ab"
      },
      {
        "contentUdi": "umb://element/ac51ad88be6d4e2cb80b03e7c2f51805"
      },
      {
        "contentUdi": "umb://element/5d655709a5634990983bde90fb03096d"
      },
      {
        "contentUdi": "umb://element/5c9c32b2c4b843efb16ec2af26fbc568"
      },
      {
        "contentUdi": "umb://element/e5f8b89539d1498c80d490090cce1978"
      },
      {
        "contentUdi": "umb://element/4c19cd4831184e87af4b6a3adb222067"
      },
      {
        "contentUdi": "umb://element/2b43d457545949f5b9e1393f36b76b17"
      },
      {
        "contentUdi": "umb://element/3bde5f1c821845a0a19e2dbba9eac661"
      },
      {
        "contentUdi": "umb://element/d086a61f864c4ee298f5bfdfa52f1c0f"
      },
      {
        "contentUdi": "umb://element/142ada451d2b47788cb5200fa323e3ff"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/83ae7b413fa04f268860f8102ec9b8ab",
      "propertyType": "[\"Строка текста\"]",
      "propertyRequired": "1",
      "selected": "0",
      "propertyName": "Имя",
      "propertyAlias": "name"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/ac51ad88be6d4e2cb80b03e7c2f51805",
      "propertyType": "[\"Телефон\"]",
      "propertyRequired": "0",
      "selected": "0",
      "propertyName": "Телефон",
      "propertyAlias": "phone"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/5d655709a5634990983bde90fb03096d",
      "propertyType": "[\"Email\"]",
      "propertyRequired": "0",
      "selected": "0",
      "propertyName": "Почта",
      "propertyAlias": "email"
    },
    {
      "contentTypeKey": "01c15b35-655c-46da-b419-008390d805cc",
      "udi": "umb://element/5c9c32b2c4b843efb16ec2af26fbc568"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/e5f8b89539d1498c80d490090cce1978",
      "propertyName": "Отправляя данную форму, выражаю согласие с <a href=\"#\">договором офертой</a>",
      "propertyAlias": "offerta",
      "propertyType": "[\"Флажок\"]",
      "propertyRequired": "1",
      "selected": "1"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/4c19cd4831184e87af4b6a3adb222067",
      "propertyName": "Лучший ваш день в году",
      "propertyAlias": "favoriteDate",
      "propertyType": "[\"Дата\"]",
      "propertyRequired": "0",
      "selected": "0"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/2b43d457545949f5b9e1393f36b76b17",
      "propertyName": "Дополнительные комментарии",
      "propertyAlias": "text",
      "propertyType": "[\"Многострочный текст\"]",
      "propertyRequired": "0",
      "selected": "0"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/d086a61f864c4ee298f5bfdfa52f1c0f",
      "propertyName": "Капча",
      "propertyAlias": "captcha",
      "propertyType": "[\"Капча\"]",
      "propertyRequired": "0",
      "selected": "0"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/3bde5f1c821845a0a19e2dbba9eac661",
      "propertyName": "Вложение",
      "propertyType": "[\"Вложение\"]",
      "propertyRequired": "0",
      "selected": "0"
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/142ada451d2b47788cb5200fa323e3ff",
      "propertyType": "[\"Почта или телефон\"]",
      "propertyRequired": "0",
      "selected": "0",
      "propertyName": "Почта или телефон",
      "propertyAlias": "phoneOrEmail"
    }
  ],
  "settingsData": []
}]]></Value>
    </customForm>
    <formReachGoal>
      <Value><![CDATA[]]></Value>
    </formReachGoal>
    <formTag>
      <Value><![CDATA[]]></Value>
    </formTag>
    <mailContents>
      <Value><![CDATA[<p>Посетитель сайта оставил сообщение:</p>
<p>Имя: {name}</p>
<p>Email: {email}</p>]]></Value>
    </mailContents>
    <mailSubject>
      <Value><![CDATA[Тестовое сообщение]]></Value>
    </mailSubject>
    <successMessage>
      <Value><![CDATA[<p>Ваше сообщение успешно отправлено</p>]]></Value>
    </successMessage>
  </Properties>
</Content>