<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fcfdad5-c538-4743-9f4b-ed912dfa9f65" Alias="Оставить заявку" Level="2">
  <Info>
    <Parent Key="be1f522a-982d-4b13-89bf-fec8b29ce7ad">Шаблоны форм</Parent>
    <Path>/ShablonyForm/OstavitZayavku</Path>
    <Trashed>false</Trashed>
    <ContentType>formTemplate</ContentType>
    <CreateDate>2023-06-14T12:13:04</CreateDate>
    <NodeName Default="Оставить заявку" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <customForm>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/200e23d13adf4fb386e6a76a71f8040f"
      },
      {
        "contentUdi": "umb://element/fd1b3d874ff14394a5761fbfe56a12a2"
      },
      {
        "contentUdi": "umb://element/36ddb2dde28c4faab5de52b6c7194213"
      },
      {
        "contentUdi": "umb://element/a7fd137cce144b32a605491de67821c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/200e23d13adf4fb386e6a76a71f8040f",
      "propertyName": "Ваше имя",
      "propertyAlias": "name",
      "propertyType": "[\"Строка текста\"]",
      "propertyRequired": "1",
      "selected": "0",
      "propertyRenderWidth": ""
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/36ddb2dde28c4faab5de52b6c7194213",
      "propertyName": "Ваш телефон",
      "propertyAlias": "tel",
      "propertyType": "[\"Телефон\"]",
      "inputMask": "+7(___)__-__-__",
      "propertyRequired": "1",
      "selected": "0",
      "propertyRenderWidth": ""
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/fd1b3d874ff14394a5761fbfe56a12a2",
      "propertyName": "Ваше email",
      "propertyAlias": "email",
      "propertyType": "[\"Email\"]",
      "propertyMask": ".+@.+\\..+",
      "propertyRequired": "0",
      "selected": "0",
      "propertyRenderWidth": ""
    },
    {
      "contentTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "udi": "umb://element/a7fd137cce144b32a605491de67821c4",
      "propertyName": "Вложение",
      "propertyAlias": "file",
      "propertyType": "[\"Вложение\"]",
      "propertyRequired": "0",
      "selected": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </customForm>
    <formReachGoal>
      <Value><![CDATA[]]></Value>
    </formReachGoal>
    <formTag>
      <Value><![CDATA[]]></Value>
    </formTag>
    <mailContents>
      <Value><![CDATA[]]></Value>
    </mailContents>
    <mailSubject>
      <Value><![CDATA[]]></Value>
    </mailSubject>
    <successMessage>
      <Value><![CDATA[]]></Value>
    </successMessage>
  </Properties>
</Content>