<?xml version="1.0" encoding="utf-8"?>
<Content Key="adaf40fc-3a28-4f97-b9eb-cba288e0783b" Alias="Персоны" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Persony</Path>
    <Trashed Parent="b0d2305d-b942-4e5c-b365-40748fde1c0b">true</Trashed>
    <ContentType>persons</ContentType>
    <CreateDate>2023-10-11T14:06:17</CreateDate>
    <NodeName Default="Персоны" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/96ce2ed5020744a8b261ddb2f770cd9f",
        "settingsUdi": "umb://element/1f98c9b50eb444c0af7737f4ee5e66df"
      },
      {
        "contentUdi": "umb://element/a69696a6968a47e49f0b9fd16708c80e",
        "settingsUdi": "umb://element/7f004e07a231454faa73ca55101cb6d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7f66f8da-28d9-456e-9c52-3118af5b84e0",
      "udi": "umb://element/96ce2ed5020744a8b261ddb2f770cd9f"
    },
    {
      "contentTypeKey": "a2e83740-03cb-48b7-a81a-1c4cc685232d",
      "udi": "umb://element/a69696a6968a47e49f0b9fd16708c80e",
      "personCatalog": null,
      "btn": null,
      "description": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/1f98c9b50eb444c0af7737f4ee5e66df"
    },
    {
      "contentTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "udi": "umb://element/7f004e07a231454faa73ca55101cb6d0",
      "fullWidth": "0",
      "verticalCenter": "0",
      "fullHeight": "0",
      "noMarginTop": "0",
      "noMarginBottom": "0",
      "moreSpace": "0",
      "alternateColor": "0",
      "centerTitle": "0",
      "hideFromDisplay": "0",
      "image": "[]",
      "imageMobile": "[]",
      "veilBackground": "[\"60%\"]"
    }
  ]
}]]></Value>
    </contentBlocks>
    <hideFromMenuDesktop>
      <Value><![CDATA[]]></Value>
    </hideFromMenuDesktop>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideInBreadCrambs>
      <Value><![CDATA[]]></Value>
    </hideInBreadCrambs>
    <isShowChildrens>
      <Value><![CDATA[]]></Value>
    </isShowChildrens>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>