<?xml version="1.0" encoding="utf-8"?>
<Content Key="53fe1456-ce87-4508-9f6b-3e27057a559c" Alias="Регистрация" Level="3">
  <Info>
    <Parent Key="b99d23b2-6fa2-4ebc-a2bf-eeacce503db0">Подача конкурсной заявки</Parent>
    <Path>/Home/PodachaKonkursnoiZayavki/Registrafiya</Path>
    <Trashed>false</Trashed>
    <ContentType>hellFormSection</ContentType>
    <CreateDate>2024-10-20T12:45:59</CreateDate>
    <NodeName Default="Регистрация" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <formPageConstructor>
      <Value><![CDATA[]]></Value>
    </formPageConstructor>
    <hideFromMenuDesktop>
      <Value><![CDATA[0]]></Value>
    </hideFromMenuDesktop>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <hideInBreadCrambs>
      <Value><![CDATA[0]]></Value>
    </hideInBreadCrambs>
    <isShowChildrens>
      <Value><![CDATA[0]]></Value>
    </isShowChildrens>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <socInfo>
      <Value><![CDATA[]]></Value>
    </socInfo>
    <title>
      <Value><![CDATA[Регистрация2]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>