<?xml version="1.0" encoding="utf-8"?>
<Content Key="be1f522a-982d-4b13-89bf-fec8b29ce7ad" Alias="Шаблоны форм" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ShablonyForm</Path>
    <Trashed>false</Trashed>
    <ContentType>formCollection</ContentType>
    <CreateDate>2023-03-02T11:30:58</CreateDate>
    <NodeName Default="Шаблоны форм" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>