################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ClubSite/uSync/v9/Content/тестовая-страница.config
/ClubSite/.vs
/ClubSite/bin
/ClubSite/obj
/ClubSite/uSync/v9/Content
/ClubSite/uSync/v9/Media
ClubSite/wwwroot/css/core.css
ClubSite/wwwroot/css/core.min.css
ClubSite/wwwroot/css/main.css
ClubSite/wwwroot/css/main.min.css
/ClubSite/wwwroot/css/*.css
/ClubSite/wwwroot/css/core.css
/ClubSite/wwwroot/css/theme-vmeste/main.min.css
/ClubSite/wwwroot/css/theme-vmeste/main.css
