################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ClubSite/uSync/v9/Content/тестовая-страница.config
/ClubSite/.vs
/ClubSite/bin
/ClubSite/obj
/ClubSite/uSync/v9/Content/
/ClubSite/uSync/v9/Media/
/ClubSite/umbraco/models/CTextTiles.generated.cs
