.btn {
  color: #fff;
  background-color: var(--buttonAndLinkColor);

  &:hover {
    background-color: var(--linkColorHovered);
  }

  &--link {
    padding-left: 0;
    text-align: initial;
    color: var(--accent);
    background-color: transparent;

    &:hover {
      color: var(--textColor);
      background-color: transparent;
    }
  }
}
