@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.FormTextEditor>

@{
    var settings = (BlockMinSettings)ViewData["settings"];
}

<section class="@BlockFormSettings.GetBlockOuterCssClass(@Model.ContentType.Alias + "block block--form", settings)" style=" --veil:0%;">
    <div class="block__content">       
      @Model.Value("textEditor")
    </div>
</section>