<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e289670-63b9-449a-813d-2fcdad1c3893" Alias="Bg Plank" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgPlank</Path>
    <Trashed Parent="90b77661-a043-45d5-be20-a93b927e335f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T15:56:22</CreateDate>
    <NodeName Default="Bg Plank" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o0lcq5vz/bg_plank.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>