<?xml version="1.0" encoding="utf-8"?>
<Media Key="68d7b3fa-6a87-44ba-ae7c-d7a4484dd587" Alias="Hero Desk" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/HeroDesk</Path>
    <Trashed Parent="1cdeba54-4f10-41e0-b669-431b7af291d4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-13T19:02:11</CreateDate>
    <NodeName Default="Hero Desk" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5szno0eh/hero_desk.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>