<?xml version="1.0" encoding="utf-8"?>
<Media Key="d004b2fb-f1d3-4e56-9e86-d0cf248e2502" Alias="Lbl" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lbl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-20T22:55:19</CreateDate>
    <NodeName Default="Lbl" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altImg>
      <Value><![CDATA[]]></Value>
    </altImg>
    <umbracoFile>
      <Value><![CDATA[/media/zkzajugt/lbl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>