<?xml version="1.0" encoding="utf-8"?>
<Media Key="717497f9-fcb9-4692-b0ad-33deaafb7c7e" Alias="Phone" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Phone</Path>
    <Trashed Parent="90ad7ae1-8b21-4bf7-991f-23a90138c610">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-03-14T19:05:49</CreateDate>
    <NodeName Default="Phone" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zclhi2nz/phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>