<?xml version="1.0" encoding="utf-8"?>
<Media Key="61fffe70-df3e-45ed-8f74-eeede95a233e" Alias="Vmeste" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vmeste</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-20T22:58:49</CreateDate>
    <NodeName Default="Vmeste" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altImg>
      <Value><![CDATA[]]></Value>
    </altImg>
    <umbracoFile>
      <Value><![CDATA[/media/ih5p4yj4/vmeste.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>