<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c23c20f-2a9d-44ca-9fba-31159051131a" Alias="Тестовые лого (плитка ссылок)" Level="2">
  <Info>
    <Parent Key="e25d7118-4b81-40fa-b104-0aebb19e81ef">Конструктор</Parent>
    <Path>/Konstruktor/TestovyeLogoPlitkaSsylok</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-19T17:00:27</CreateDate>
    <NodeName Default="Тестовые лого (плитка ссылок)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>