<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b8ca794-896d-48a8-ab49-42818fbfb647" Alias="cMainSlider" Level="3">
  <Info>
    <Name>Главный слайдер</Name>
    <Icon>icon-imac color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%9a%d0%be%d0%bd%d1%81%d1%82%d1%80%d1%83%d0%ba%d1%82%d0%be%d1%80/cBase</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>32f5776f-90f2-4a42-a481-78203a4e9dbb</Key>
      <Name>Баннеры</Name>
      <Alias>banners</Alias>
      <Definition>cbd9421d-1386-421c-8a53-8c168569b891</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>448a7113-0704-4cd7-a1cd-9aea4ba69f0b</Key>
      <Name>Задержка автосмены слайдов</Name>
      <Alias>delay</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[В миллисекундах, минимально 2000. Если не указано, то автосмена
выключена.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49690aad-8ad9-4fe1-be7b-674e7dbacab7</Key>
      <Name>Показывать под 
шапкой сайта</Name>
      <Alias>renderUnderHeader</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Если установлено и блок первый в списке, то шапка будет показываться поверх него]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b22222c0-cd04-44b9-9e30-8aaf1bc01808</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>