<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="698bc8d0-e2fc-40b4-90f9-f950bdd37629" Alias="contentPage" Level="3">
  <Info>
    <Name>Контентная страница</Name>
    <Icon>icon-article color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="a9fe3bcd-1a58-4540-8221-b872b3fe608d">blockPageTemplate</Composition>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>constructedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="698bc8d0-e2fc-40b4-90f9-f950bdd37629" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cb278475-cd8e-42ab-a4cd-668bd11e930a</Key>
      <Name>Заголовок</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Не обязательно. Переопределяет название узла]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab Alias="contents">Содержимое / Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>09dc2e26-f64e-4573-8e88-ad1c69c6fc70</Key>
      <Caption>Содержимое / Contents</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>300</SortOrder>
    </Tab>
  </Tabs>
</ContentType>