<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="113057dc-8c5b-4816-a4bd-a6d7062f5b9b" Alias="dictionaries" Level="3">
  <Info>
    <Name>Справочники</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="85ad33a3-86b6-406b-adfb-e7fae2fe8102">sysDataDocType</Parent>
    <Compositions>
      <Composition Key="85ad33a3-86b6-406b-adfb-e7fae2fe8102">sysDataDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>