<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c64d943-183b-4215-be56-66106ab0f887" Alias="dictionaries" Level="2">
  <Info>
    <Name>Справочники</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="502599ac-5948-4cb0-a0d0-54d9ac9c9fcd">sysDataDocType</Parent>
    <Compositions>
      <Composition Key="502599ac-5948-4cb0-a0d0-54d9ac9c9fcd">sysDataDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="70ab2f03-7742-4039-9528-e4703e3ef620" SortOrder="0">dictionaryItem</ContentType>
    <ContentType Key="5c64d943-183b-4215-be56-66106ab0f887" SortOrder="1">dictionaries</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>047fa18f-917d-481e-a2fb-331a013083f0</Key>
      <Name>Поле для фильтра по умолчанию</Name>
      <Alias>defaultField</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b532fdf2-9e3e-43ef-a303-c3f6143edb00</Key>
      <Name>Id</Name>
      <Alias>dictionaryId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Используется в фильтрах. Обязательное поле. Латиница.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6e695893-d14c-49bf-b90d-95789eb7a09d</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>