<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70ab2f03-7742-4039-9528-e4703e3ef620" Alias="dictionaryItem" Level="2">
  <Info>
    <Name>Элемент справочника</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="502599ac-5948-4cb0-a0d0-54d9ac9c9fcd">sysDataDocType</Parent>
    <Compositions>
      <Composition Key="502599ac-5948-4cb0-a0d0-54d9ac9c9fcd">sysDataDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>