<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2eeacaf6-987f-4888-a695-7e88ce52b1d0" Alias="formTemplate" Level="2">
  <Info>
    <Name>Шаблон формы</Name>
    <Icon>icon-browser-window color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%a4%d0%be%d1%80%d0%bc%d1%8b</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1958fc20-4ea6-4b4c-846f-7cb73797e7dc</Key>
      <Name>Определение формы</Name>
      <Alias>customForm</Alias>
      <Definition>c37c2b0c-7759-4318-8243-0791d93869fd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f54ed70-af67-447e-bf70-fbee8bb2e662</Key>
      <Name>Цель яндекс метрики</Name>
      <Alias>formReachGoal</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Цель «JavaScript-событие»]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="params1">Параметры (params)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a47f2ec-5561-4acb-9fde-c5d311beca70</Key>
      <Name>Метка особого обработчика</Name>
      <Alias>formTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Позволяет делать специальные формы с особым обработчиком]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="params1">Параметры (params)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07d96f68-6abf-4bbe-b499-cc5a45059e2b</Key>
      <Name>Содержимое письма</Name>
      <Alias>mailContents</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Можно использовать параметры подстановки]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="params1">Параметры (params)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26c61fad-187c-42da-a68c-304c33171a49</Key>
      <Name>Тема письма</Name>
      <Alias>mailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Можно использовать параметры подстановки]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="params1">Параметры (params)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>edce3730-c163-4dce-91a9-68acc1bd4581</Key>
      <Name>Сообщение пользователю при успешной отправке</Name>
      <Alias>successMessage</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="params1">Параметры (params)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>45773260-6c12-46fd-8430-430efb504b90</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents1</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>7c29ea7b-3ec0-42a4-9a26-97e98335bbb2</Key>
      <Caption>Параметры (params)</Caption>
      <Alias>params1</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>