<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfa47c6a-43d9-4556-98fb-af48d276d233" Alias="formMainPage" Level="3">
  <Info>
    <Name>HellForm</Name>
    <Icon>icon-fire color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>formMainPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="114b2eb2-3a60-4c1c-b361-16636462aacd">formMainPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7fb65ec3-f314-4fd1-b76d-0c50c7e10c34" SortOrder="0">hellFormSection</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d5221a0d-f4c2-4387-ab5b-c3d82f78207b</Key>
      <Name>@Конструктор</Name>
      <Alias>contentBlocks</Alias>
      <Definition>f32d8c8b-0ce9-492e-8636-e2cfc724ee27</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08d0c5a1-b2be-4c00-a80a-272f00abe604</Key>
      <Name>Описание</Name>
      <Alias>description</Alias>
      <Definition>d8028276-9888-41c5-a40b-dddb427fb235</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2dd8710a-77d7-4961-ba46-8bc44c5c769d</Key>
      <Name>Заголовок</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1add1fa0-a9ba-45a0-a7ac-cb24abbf8266</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>content/contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad139ce3-db66-4db2-a051-9bb272b374a5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>