<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb6730c4-fd5e-4b83-bb6a-d9661807cbc9" Alias="formCollection" Level="2">
  <Info>
    <Name>Формы</Name>
    <Icon>icon-badge color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%a4%d0%be%d1%80%d0%bc%d1%8b</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2eeacaf6-987f-4888-a695-7e88ce52b1d0" SortOrder="0">formTemplate</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>