<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="543fe54c-1a7f-4954-a479-bbaf80106768" Alias="formDevider" Level="2">
  <Info>
    <Name>Разделитель</Name>
    <Icon>icon-width color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Если нужно пустое пространсво</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>advancedForm</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>