<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90cfde1c-fc0f-4d1b-80fa-128e992bf7ee" Alias="generatedFormRow" Level="3">
  <Info>
    <Name>Секция с генерируемым шаблоном</Name>
    <Icon>icon-page-down color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%9a%d0%be%d0%bd%d1%81%d1%82%d1%80%d1%83%d0%ba%d1%82%d0%be%d1%80/Advanced+Form+Constructor</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f07baea-acd9-4aff-91a2-c8cf883dd788</Key>
      <Name>Текст кнопки для генерации</Name>
      <Alias>btnText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[По умолчанию - Добавить еще строку]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10bee4fe-05ee-4e88-9a0a-518ae8a5d8dd</Key>
      <Name>Строка формы для генерации</Name>
      <Alias>formRowTemplate</Alias>
      <Definition>31bbd4e4-dd80-48f9-9860-48664e17a13d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Шаблон. Только одна строка на секцию]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0dfa0ee8-1680-41fb-944a-96db10ffb065</Key>
      <Name>Окружить блок бордером</Name>
      <Alias>isBordered</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Отрисует тонкий бордер с отступами вокруг контентной  части]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ee33e86c-dad6-4c2f-8fab-c52b57a05bf6</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>