<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a8445869-649e-4bf6-bcd6-c1dac9625546" Alias="homePage" Level="3">
  <Info>
    <Name>Главная страница</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="a9fe3bcd-1a58-4540-8221-b872b3fe608d">blockPageTemplate</Composition>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
      <Composition Key="bf5545db-af74-4651-ac79-4a3b73360cc9">topLevelNode</Composition>
    </Compositions>
    <DefaultTemplate>constructedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="698bc8d0-e2fc-40b4-90f9-f950bdd37629" SortOrder="0">contentPage</ContentType>
    <ContentType Key="bfa47c6a-43d9-4556-98fb-af48d276d233" SortOrder="1">formMainPage</ContentType>
    <ContentType Key="d7d3d0b9-e78e-4af2-aa6f-84059552f77b" SortOrder="2">landingPage</ContentType>
    <ContentType Key="408d6cd0-8ab8-4c2b-a940-9d7d951de8bd" SortOrder="3">themeEditor</ContentType>
    <ContentType Key="4026c357-c521-46a3-9c21-8ca37dece3f6" SortOrder="4">robots</ContentType>
    <ContentType Key="44aa747b-2d95-4af0-a54e-c318026aaa45" SortOrder="5">newsStorage</ContentType>
    <ContentType Key="1da60d48-3f57-4ca8-bd2f-b8cdfb8bddcd" SortOrder="6">persons</ContentType>
    <ContentType Key="552e909b-0539-41f4-b54d-c9f82cc80a50" SortOrder="7">searchPage</ContentType>
    <ContentType Key="c75ac4d8-c033-4dc0-b99e-d01c2a019948" SortOrder="8">page404</ContentType>
    <ContentType Key="80fcf5e5-f76f-4328-bd63-837622745983" SortOrder="9">dummyPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>