<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20102d6d-3d26-4080-bec1-3ccd444b5de0" Alias="ncSimpleFormProperty" Level="2">
  <Info>
    <Name>Типовое поле</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%a4%d0%be%d1%80%d0%bc%d1%8b</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44eab46d-c12d-4767-bd12-d97c585f1708</Key>
      <Name>Дополнительные классы</Name>
      <Alias>cssClass</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Можно указать дополнительные css классы для поля. Можно использовать для привязки собственных средств проверки пользовательского ввода. <b>makeCaps</b> - преобразовать в заглавные, <b>strictAlpha</b> - только буквы, <b>strictLatin/strictCyrillic</b> - латиница или кириллица]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76380d73-a5e1-4a45-9dc0-c5af6975f5ac</Key>
      <Name>Пояснение при ошибке</Name>
      <Alias>errorDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Текст пояснения, которое появляется при ошибке заполнения поля. Если начинается с префикса "validate_", то поле воспринимается как ключ многоязычного словаря]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>128b46f0-cdc8-43fe-bd89-859b863cf98b</Key>
      <Name>Маска ввода</Name>
      <Alias>inputMask</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Маска ввода поля, например, +7 (999) 999-99-99. Для телефона и даты если маска пустая, используется маска по умолчанию из словаря (см. группу validate-*)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6c8520f-76fd-4d73-95ad-06c271690d22</Key>
      <Name>Алиас</Name>
      <Alias>propertyAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Должно состоять только из латинских букв и цифр. Не может начинаться с цифры. Должно быть уникальным в пределах формы. Используется для подстановки значений в уведомлениях]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>181c85e8-60b7-4097-8871-d8c682003b27</Key>
      <Name>Валидация</Name>
      <Alias>propertyMask</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Регулярное выражение для проверки значения. Пример, .+@.+\..+ - почта, ^(?=.{2,10}$)\d+ - число длиной от 2 до 10 цифр]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7395dc1-dd57-484f-a5d2-6a50005853b5</Key>
      <Name>Заголовок поля</Name>
      <Alias>propertyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Отображается в форме. Должно быть понятным человеку]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4dd10427-0cf1-4add-89a1-8e1a78330412</Key>
      <Name>Ширина поля</Name>
      <Alias>propertyRenderWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ширина поля. Пусто - на всю ширину. Число от 1 до 12 - число столбцов, отводимых полю]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50fb45ff-283a-414e-9e73-af07668aa87d</Key>
      <Name>Обязательно к заполнению</Name>
      <Alias>propertyRequired</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d1c7c76-997e-4508-a163-84909882a22d</Key>
      <Name>Тип поля</Name>
      <Alias>propertyType</Alias>
      <Definition>386fd99d-a842-4484-97bd-519ab9e9f393</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Выберите вариант поля. Влияет на способ проверки поля и то, как в него вводится информация]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d10339e-1c0f-4ba2-a332-13162955ec81</Key>
      <Name>Чекбокс установлен</Name>
      <Alias>selected</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Для флажков. Значение по умолчанию - выбрано]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75fca2e6-e530-4d0d-a0d3-dfd6f5660583</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>