<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01c15b35-655c-46da-b419-008390d805cc" Alias="ncSimpleFormSplitter" Level="2">
  <Info>
    <Name>Разделитель</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%d0%a4%d0%be%d1%80%d0%bc%d1%8b</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>118e2e54-cec1-4300-bcb5-2750cd06ca3d</Key>
      <Name>Ширина поля</Name>
      <Alias>propertyRenderWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Пусто - на всю ширину, или числа от 1 до 12 - ширина разделителя]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a5dc503e-88d8-40a8-85e0-e679555efed1</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>