<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44aa747b-2d95-4af0-a54e-c318026aaa45" Alias="newsStorage" Level="3">
  <Info>
    <Name>Раздел новостей</Name>
    <Icon>icon-newspaper color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>pageNewsCatalog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f3ac265d-8d39-4137-9480-6174d3eb2d2a">pageNewsCatalog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c42ea8e9-7c42-4687-b607-653636b052a1" SortOrder="0">newsItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fb5163e4-5a74-4020-8f7a-03287ac6c898</Key>
      <Name>Конструктор</Name>
      <Alias>contentBlocks</Alias>
      <Definition>f32d8c8b-0ce9-492e-8636-e2cfc724ee27</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents1">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e340edf-7438-4426-ad03-7f88a42a9961</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents1</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>