<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="838674cf-d3b7-4a6c-92af-9ccc6d32a08a" Alias="papkaPolZovatelei" Level="3">
  <Info>
    <Name>Папка пользователей</Name>
    <Icon>icon-inbox-full color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="523a01fd-7f17-4908-bfe4-2f6f348c9084" SortOrder="0">MainUser</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>