<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1da60d48-3f57-4ca8-bd2f-b8cdfb8bddcd" Alias="persons" Level="3">
  <Info>
    <Name>Персоны</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="a9fe3bcd-1a58-4540-8221-b872b3fe608d">blockPageTemplate</Composition>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="037bbba3-96e0-4b71-987a-fcbd1f1aaff2" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>