<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65ee3c51-8278-4add-bb79-b3cb4ab4e415" Alias="robotstxt" Level="2">
  <Info>
    <Name>robots.txt</Name>
    <Icon>icon-bug color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3668941d-2d3e-40b9-a89b-0ce966f9100a">sysMasterDocType</Parent>
    <Compositions>
      <Composition Key="3668941d-2d3e-40b9-a89b-0ce966f9100a">sysMasterDocType</Composition>
    </Compositions>
    <DefaultTemplate>robotstxt</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="abbdac0c-e2a3-4cb5-af92-50abe0ab89b8">robotstxt</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>