<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="552e909b-0539-41f4-b54d-c9f82cc80a50" Alias="searchPage" Level="3">
  <Info>
    <Name>Поиск</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>searchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b9d3620d-eafa-4279-aba9-f0861b8a8f10">searchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>