<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="98b51a1b-4e23-4429-9b71-de53b3fef444" Alias="singlePage" Level="3">
  <Info>
    <Name>Одностраничник</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="a9fe3bcd-1a58-4540-8221-b872b3fe608d">blockPageTemplate</Composition>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
      <Composition Key="bf5545db-af74-4651-ac79-4a3b73360cc9">topLevelNode</Composition>
    </Compositions>
    <DefaultTemplate>constructedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27d1424f-4618-4fd3-abe2-b47c95d270d9">constructedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="408d6cd0-8ab8-4c2b-a940-9d7d951de8bd" SortOrder="0">themeEditor</ContentType>
    <ContentType Key="4026c357-c521-46a3-9c21-8ca37dece3f6" SortOrder="1">robots</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>