<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="27a0d918-8b46-4d5d-98ad-aad56fcc2c44" Alias="sitemap" Level="2">
  <Info>
    <Name>Карта сайта</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="3668941d-2d3e-40b9-a89b-0ce966f9100a">sysMasterDocType</Parent>
    <Compositions>
      <Composition Key="3668941d-2d3e-40b9-a89b-0ce966f9100a">sysMasterDocType</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>