<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6133f86d-a705-4251-980f-2e65e80185cc" Alias="testFormAngular" Level="3">
  <Info>
    <Name>testFormAngular</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>testFormAngular</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="67a81429-3198-42c5-aa51-27158b8f86f9">testFormAngular</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>