<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="408d6cd0-8ab8-4c2b-a940-9d7d951de8bd" Alias="themeEditor" Level="1">
  <Info>
    <Name>Редактор тем</Name>
    <Icon>icon-paint-roller color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7e93152-4560-4d80-9d84-a6998f4e7f11</Key>
      <Name>Акцентный цвет</Name>
      <Alias>accent</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b3f64e9-9541-45c1-b64b-ed7c5a155ca5</Key>
      <Name>Контрастный цвет текста</Name>
      <Alias>altColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91708d68-9dba-4537-9857-c329dc512797</Key>
      <Name>Цвет фона</Name>
      <Alias>background</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Основной фон сайта]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0d2f47a-aafe-4c60-8cc3-acfc2eb1a7fa</Key>
      <Name>Цвет кнопок и ссылок</Name>
      <Alias>buttonAndLinkColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>437aa7e5-f486-4ea3-a08d-67e131fdc25c</Key>
      <Name>Название шрифта</Name>
      <Alias>fontFamily</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55828f38-dfd9-4e99-874a-8c5e78eafa4f</Key>
      <Name>Размера шрифта</Name>
      <Alias>fontSize</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Основной размер шрифта текста
(px, pt, em, rem...)]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9deccd2-edd3-43ed-ad12-9e606a1414bd</Key>
      <Name>Первый цвет градиента</Name>
      <Alias>gradientFirstColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae9ce5ed-28ee-47d6-8820-17bccf4d277f</Key>
      <Name>Второй цвет градиента</Name>
      <Alias>gradientSecondColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc8908c5-ab98-43db-9041-78f722f10d96</Key>
      <Name>Полуакцентный цвет</Name>
      <Alias>halfAccent</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f0f43fe-9e36-4a68-9001-3d0949bb0b67</Key>
      <Name>Цвет кнопок и ссылок при наведении</Name>
      <Alias>linkColorHovered</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42eae504-8f8e-43db-aee4-3cc7e2980201</Key>
      <Name>Цвет основного меню</Name>
      <Alias>mainMenuColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f26855b5-ca5e-4e12-af13-78084be852d3</Key>
      <Name>Цвет основного меню при наведении</Name>
      <Alias>mainMenuHoverColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ef0f2acf-2a9b-49a8-b53c-07a738f25df9</Key>
      <Name>Цвет текста</Name>
      <Alias>textColor</Alias>
      <Definition>103e9210-0494-42f1-b410-0b4264509e66</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Основной цвет текста]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="1">Настройки</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f8be54e3-9776-4afd-a1cc-f56302c50fb9</Key>
      <Caption>Настройки</Caption>
      <Alias>1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>