<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf5545db-af74-4651-ac79-4a3b73360cc9" Alias="topLevelNode" Level="1">
  <Info>
    <Name>Узел верхнего уровня</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0527d8a0-9a27-4605-beeb-e9b13958af85</Key>
      <Name>Переопределение ID клуба</Name>
      <Alias>clubId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Позволяет переопределить идентификатор клуба, откуда брать информацию, для всего раздела]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78387065-4f1e-49d8-a981-6dc759f8bfc9</Key>
      <Name>Ссылки обратной связи</Name>
      <Alias>contactLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Всплывающий блок контактов (либо один контакт, либо раскрывающееся меню с контактами).
Список возможных: _tel, _vk, _telegram, _whatsapp, _fb, _instagram, _youtube]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="headerFooter">Шапка и подвал / Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2825025-dd5f-4cbf-a59d-c4f6f8946e90</Key>
      <Name>Фавикон для iOS</Name>
      <Alias>faviconIOS</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[PNG в размере 180x180]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8043e128-0b04-4911-a5de-43df77ed0da6</Key>
      <Name>Фавикон для современных браузеров</Name>
      <Alias>faviconNB</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Нужен в формате svg - favicon.svg]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3a5b8f5-5c79-45be-b8df-3ae09fd09800</Key>
      <Name>Подвал</Name>
      <Alias>footer</Alias>
      <Definition>429acd61-86f1-486b-a250-3f02cfb098a6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="headerFooter">Шапка и подвал / Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d8de771-f152-4d95-833a-b06ea164a1ea</Key>
      <Name>Шапка</Name>
      <Alias>header</Alias>
      <Definition>429acd61-86f1-486b-a250-3f02cfb098a6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headerFooter">Шапка и подвал / Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f041d44a-0a77-4168-b5b3-64fe3c610d8d</Key>
      <Name>Счетчики и доп. мета в HEAD</Name>
      <Alias>metaExtended</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Добавляются в конец мета тегов в <head> Используйте для размещения скриптов или дополнительных мета тегов. Применяются к главной странице и всем внутренним]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>467b1292-a376-4179-8db5-dc7a1b806260</Key>
      <Name>Мобильная шапка</Name>
      <Alias>mobileHeader</Alias>
      <Definition>1ef6a648-72ae-437f-bcac-766bbe1f7f9a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="headerFooter">Шапка и подвал / Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>734627cb-a7a6-4686-af34-a511de4b1a1e</Key>
      <Name>Изображение по умолчанию</Name>
      <Alias>rootDefaultImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Картинка-заглушка. Появится в блоках сайта, где не выбрано изображение.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc90f361-3bfb-40e5-9fcd-e880f649df89</Key>
      <Name>Показать ссылку "На главную"</Name>
      <Alias>showNavigateTopButton</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[На главной странице или на одностраничнике переход наверх страницы. На других страницах - переход на главную]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="headerFooter">Шапка и подвал / Header &amp; Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb0af386-e705-44d1-a20c-e0f8498554e8</Key>
      <Name>Название сайта</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Добавляется в заголовок вкладки браузера для всех страниц текущего сайта или раздела. Может использоваться в шаблонах писем]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>659ac8a3-5375-437f-8e31-64bde9e35e25</Key>
      <Name>Получатели писем</Name>
      <Alias>subscribers</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Список почтовых адресов через запятую. По этим адресам будут отправляться системные уведомления или сообщения с форм обратной связи]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b88f7ea-84bf-462c-a57a-f5fd7bb32dd1</Key>
      <Name>Тема сайта</Name>
      <Alias>websiteBaseTheme</Alias>
      <Definition>fe050945-6c3f-4a08-90ba-55985399f976</Definition>
      <Type>SportPriority.ThemeSelect</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="siteSettings">Настройки сайта / Site settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>519ad937-579e-41f7-a337-da38e6218117</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Group</Type>
      <SortOrder>951</SortOrder>
    </Tab>
    <Tab>
      <Key>53cc12c2-ed48-418d-97a2-1f27b03a4da8</Key>
      <Caption>Настройки сайта / Site settings</Caption>
      <Alias>siteSettings</Alias>
      <Type>Group</Type>
      <SortOrder>950</SortOrder>
    </Tab>
    <Tab>
      <Key>81925996-394a-48c1-8a85-467e528f9ab7</Key>
      <Caption>Шапка и подвал / Header &amp; Footer</Caption>
      <Alias>headerFooter</Alias>
      <Type>Group</Type>
      <SortOrder>800</SortOrder>
    </Tab>
  </Tabs>
</ContentType>