<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ddf9ee9-118b-4402-8fe2-c96c756f57bf" Alias="winnerSingle" Level="3">
  <Info>
    <Name>Победитель</Name>
    <Icon>icon-poker-chip color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>winnersSinglePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="19b90b98-7bd7-41be-95a7-2e4a6d738c25">winnersSinglePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>761b8701-4218-4099-9ae7-301eeb3d638d</Key>
      <Name>Ссылка</Name>
      <Alias>btnLink</Alias>
      <Definition>dcb9e55f-7f92-495f-87b8-4b1ec4a673c4</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22b5c5f5-e8e8-47fe-b69b-75735d0ea533</Key>
      <Name>Город</Name>
      <Alias>city</Alias>
      <Definition>f3a1f450-7909-4531-aa52-8518cb7c7595</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="filtres/contents1">Если значение поля не выбрано - элемент не попадет в фильтр (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a73ec1ed-86a5-4b3e-8f6c-60908f5ed40a</Key>
      <Name>Обложка</Name>
      <Alias>cover</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Обязательное поле. Выводится в списках и на странице победителя]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34bdba84-d171-438e-bff6-bfd0bed578b5</Key>
      <Name>Дата конца</Name>
      <Alias>endDate</Alias>
      <Definition>4c2aec94-60d8-4faa-b2a5-ec2e0261a0d7</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62154da2-bea3-4acb-baa4-29d19e626255</Key>
      <Name>Полное описание</Name>
      <Alias>fullDescription</Alias>
      <Definition>d8028276-9888-41c5-a40b-dddb427fb235</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a15181af-13aa-4cf4-87c2-b58d4a81907b</Key>
      <Name>Сумма гранта</Name>
      <Alias>grantSumm</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Обязательное поле. Выводится в списках и на странице победителя]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2035ace3-5509-40b9-a3f1-1ba3df1a6ce0</Key>
      <Name>Номинация</Name>
      <Alias>nomination</Alias>
      <Definition>8c84bebb-31a7-492e-9607-1a47ad1b39b2</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="filtres/contents1">Если значение поля не выбрано - элемент не попадет в фильтр (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Выберите номинацию</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8b3be43-bcb5-44a9-924f-ece65290747f</Key>
      <Name>Собственные средства</Name>
      <Alias>ownFunds</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>067f9163-e481-439a-9b00-151a24d29d07</Key>
      <Name>Конструктор публикации</Name>
      <Alias>publicationConstructor</Alias>
      <Definition>b8c01f17-5833-445d-ae81-3fdfb79c14b6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1bcf617d-d466-4f43-af2c-6386bb76f25c</Key>
      <Name>Краткое описание</Name>
      <Alias>shortDescription</Alias>
      <Definition>d8028276-9888-41c5-a40b-dddb427fb235</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Обязательное поле. Выводится на странице конкурсанта под заголовком]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>07406850-8920-4a08-ae40-6343dfcdfdfa</Key>
      <Name>Дата начала</Name>
      <Alias>startDate</Alias>
      <Definition>4c2aec94-60d8-4faa-b2a5-ec2e0261a0d7</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4b58285-9026-4168-a5a5-c8f5be5e8e85</Key>
      <Name>Заголовок</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Не обязательное поле. Переопределит имя узла]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent/contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77376c5c-af6d-4857-8a11-d2f58affca23</Key>
      <Name>Год</Name>
      <Alias>winnersDate</Alias>
      <Definition>db455adc-6c79-4c78-8096-81653d90d90f</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="filtres/contents1">Если значение поля не выбрано - элемент не попадет в фильтр (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>380bdd1f-78d0-407a-9216-97e6fa085a3d</Key>
      <Name>Победитель</Name>
      <Alias>winnerType</Alias>
      <Definition>2bbdb46a-07dc-41a4-8c5d-bf5dddbe7066</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="filtres/contents1">Если значение поля не выбрано - элемент не попадет в фильтр (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0b3f101e-b196-4831-86fe-ef2548c53d3f</Key>
      <Caption>Если значение поля не выбрано - элемент не попадет в фильтр (contents)</Caption>
      <Alias>filtres/contents1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>1399321a-ef98-4d9a-8deb-2036735f361b</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>mainContent/contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a00d9742-64dc-4511-b630-8d826b78e994</Key>
      <Caption>Filtres</Caption>
      <Alias>filtres</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c0a60022-5f6c-41b5-9e55-70adac63a0d4</Key>
      <Caption>Main Content</Caption>
      <Alias>mainContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>