<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cccb9b55-db01-4b4d-8430-dea0bf50975e" Alias="winnersPage" Level="3">
  <Info>
    <Name>Победители</Name>
    <Icon>icon-award color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Parent>
    <Compositions>
      <Composition Key="2de0a635-ecb1-4eda-8d66-f0a76d9bce91">sysSeoPage</Composition>
    </Compositions>
    <DefaultTemplate>winnersMainPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="be2ea533-d2a1-45fb-ab5c-e90e3bc5f59e">winnersMainPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0ddf9ee9-118b-4402-8fe2-c96c756f57bf" SortOrder="0">winnerPerson</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3376410f-d0fa-4fa5-9413-262342b59d44</Key>
      <Name>@Конструктор</Name>
      <Alias>contentBlocks</Alias>
      <Definition>f32d8c8b-0ce9-492e-8636-e2cfc724ee27</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9fc2038-5a36-4860-b17b-0f6173e352c2</Key>
      <Name>Заголовок</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contents">Содержимое (contents)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a547f45d-a16f-40d7-bdf5-72c47fc1b556</Key>
      <Caption>Содержимое (contents)</Caption>
      <Alias>contents</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>