<?xml version="1.0" encoding="utf-8"?>
<DataType Key="103e9210-0494-42f1-b410-0b4264509e66" Alias="Color picker" Level="1">
  <Info>
    <Name>Color picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": true
}]]></Config>
</DataType>