<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb2d384f-e7e8-436b-8b5c-0aba3713c58c" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>