<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c37c2b0c-7759-4318-8243-0791d93869fd" Alias="@Форма" Level="1">
  <Info>
    <Name>@Форма</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "01c15b35-655c-46da-b419-008390d805cc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "◄Разделитель►",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "20102d6d-3d26-4080-bec1-3ccd444b5de0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{(propertyName || 'Типовое поле') + ((propertyAlias !== '' && propertyAlias !== undefined) ? ' ('+propertyAlias+')' : '')}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>