<?xml version="1.0" encoding="utf-8"?>
<DataType Key="633c7683-69f6-4b70-81f4-e0e7ca5223cf" Alias="Фотогалерея - Layout" Level="1">
  <Info>
    <Name>Фотогалерея - Layout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Плитка"
    },
    {
      "id": 2,
      "value": "Линейка"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>