<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9342826-88ce-4fe2-8195-da801a1f98d0" Alias="Фотогалерея - Пропорции фото" Level="1">
  <Info>
    <Name>Фотогалерея - Пропорции фото</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Квадрат 1:1"
    },
    {
      "id": 3,
      "value": "Ландшафтная 4:3"
    },
    {
      "id": 5,
      "value": "Ландшафтная 16:9"
    },
    {
      "id": 6,
      "value": "Ландшафтная 2:1"
    },
    {
      "id": 7,
      "value": "Портретная 9:16"
    }
  ]
}]]></Config>
</DataType>