<?xml version="1.0" encoding="utf-8"?>
<DataType Key="911def49-2a23-4b7a-b708-c5adf42fbf44" Alias="Hell Form Grid" Level="1">
  <Info>
    <Name>Hell Form Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "171ad189-e7b4-4668-a560-9b221b417576",
      "name": "Layout"
    },
    {
      "key": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "name": "Unnamed group"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "title",
          "columnSpan": 12,
          "createLabel": "Заголовок",
          "key": "969b9bd9-a838-403e-9f9a-24600573aae0",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "a68f473e-8bf3-4153-88fe-d6347e3d793b",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        },
        {
          "alias": "content",
          "columnSpan": 12,
          "createLabel": "Контент",
          "key": "c35726d5-8ea7-4edb-9899-a93a884b14e9",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "b04b7836-f75b-4333-b4df-fe80f7fa6453",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "526ab511-0c69-4719-b30b-a256a7943079",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "a68f473e-8bf3-4153-88fe-d6347e3d793b",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "3eb473a5-fbef-4804-b20b-dabafa796787",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "43f8d3c4-2ea0-4d7b-a4c6-f6210d046f0f",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "97fc5c11-e049-4892-82e9-0386610ddab6",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "543fe54c-1a7f-4954-a479-bbaf80106768",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "02876864-bc4b-49ce-9ce6-df4d38391276",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "171ad189-e7b4-4668-a560-9b221b417576",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 7
        }
      ],
      "contentElementTypeKey": "b04b7836-f75b-4333-b4df-fe80f7fa6453",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{labelText || 'Лейбл'}}",
      "rowMaxSpan": null,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "526ab511-0c69-4719-b30b-a256a7943079",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{propertyName || propertyAlias || 'Типовое поле'}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "a68f473e-8bf3-4153-88fe-d6347e3d793b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{headline || 'Заголовок'}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "3eb473a5-fbef-4804-b20b-dabafa796787",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{propertyAlias || 'Элемент списка'}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "43f8d3c4-2ea0-4d7b-a4c6-f6210d046f0f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{propertyAlias || 'Элемент списка'}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "97fc5c11-e049-4892-82e9-0386610ddab6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{text}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "543fe54c-1a7f-4954-a479-bbaf80106768",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "3b55ad9e-8c0f-46fb-87cc-acc8b32c08e2",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": null,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>