<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc2f7389-6a43-4989-a7a8-a684ca9f8727" Alias="Истории успеха - Варианты отображения" Level="1">
  <Info>
    <Name>Истории успеха - Варианты отображения</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Список"
    },
    {
      "id": 2,
      "value": "Слайдер линейка"
    },
    {
      "id": 3,
      "value": "Одиночный слайдер"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>