<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54413c22-e820-42c2-a558-d2675041a617" Alias="Картинка и текст - Варианты расположения" Level="1">
  <Info>
    <Name>Картинка и текст - Варианты расположения</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Картинка слева"
    },
    {
      "id": 2,
      "value": "Картинка справа"
    },
    {
      "id": 3,
      "value": "Картинка слева широкий текст"
    },
    {
      "id": 4,
      "value": "Картинка справа широкий текст"
    },
    {
      "id": 5,
      "value": "Широкая картинка слева"
    },
    {
      "id": 6,
      "value": "Широкая картинка справа"
    },
    {
      "id": 7,
      "value": "Картинка над текстом"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>