<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f32d8c8b-0ce9-492e-8636-e2cfc724ee27" Alias="@Конструктор" Level="1">
  <Info>
    <Name>@Конструктор</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "7f66f8da-28d9-456e-9c52-3118af5b84e0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "8bd5c8fb-e289-477a-b52b-7e0ac7cead58",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{(title || 'Текст') + ($settings.hideFromDisplay == \"1\" ? \" - СКРЫТ\" : \"\")}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "49653ff9-8c5d-46be-a909-4050ce9c77ee",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "82481347-79d7-4af4-96fe-a21464035ca3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{(title || 'Картинка и текст') + ($settings.hideFromDisplay == \"1\" ? \" - СКРЫТ\" : \"\")}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "cdcc0a0c-91b5-444c-b627-5634e81438b6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#ffe599",
      "contentElementTypeKey": "3dee6251-a9e2-4381-8ac8-36e2b5ac09ae",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "35694031-b534-4bd3-91cf-450b90f10f89",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title || 'Главный банер'}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#d5a6bd",
      "contentElementTypeKey": "1b8ca794-896d-48a8-ab49-42818fbfb647",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#d5a6bd",
      "contentElementTypeKey": "86d63657-619a-44d2-a43e-21e29d737d1d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#d5a6bd",
      "contentElementTypeKey": "46a9f23f-972b-445b-9692-a858b118c8c2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#f4cccc",
      "contentElementTypeKey": "de23fb19-eab7-4a62-ad2b-028c6ff34ea6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Video and text",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#d5a6bd",
      "contentElementTypeKey": "2fe4c1c4-5e18-4976-8f10-344b3707f968",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#93c47d",
      "contentElementTypeKey": "07093672-fdc1-4cbe-823c-b64f5161cae4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title || \"Преимущества\" }}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#93c47d",
      "contentElementTypeKey": "ea49530f-1904-4050-bc89-3edeff77b6c0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#93c47d",
      "contentElementTypeKey": "7738492c-49c8-42fe-8937-db9d30a21768",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title || \"Отзывы\" }}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#93c47d",
      "contentElementTypeKey": "f363e659-e747-4a2c-a755-6ee32899d31a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#93c47d",
      "contentElementTypeKey": "c3753a3f-7e74-46e0-9e66-ca8551063056",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#9fc5e8",
      "contentElementTypeKey": "0db06ed6-8c8b-4a79-b563-0aba1944d1b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{(title || 'Форма заявки')}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#9fc5e8",
      "contentElementTypeKey": "dd6e0f97-8c39-4b61-9d09-5ddd931eb49c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title || \"Напишите нам\" }}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": "#bcbcbc",
      "contentElementTypeKey": "26f7633c-2ebd-4264-b464-ecaac9543df4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f528f001-afc9-4170-b2c4-744761ad9002",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Видео слайдер с попапом",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a2e83740-03cb-48b7-a81a-1c4cc685232d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7a51acb3-f182-492a-be12-d49d6484ceae",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "fe584dd1-bea3-4d81-8a96-9a23aade2199",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title|| 'Иконка, заголовок, текст'}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2f004e59-4b8c-4925-ac03-7b4c1d97a385",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title|| 'Плитка текстов'}}",
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>