<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fcb82ea3-0f64-47a7-95b7-fc55edf8d14a" Alias="@Конструктор формы" Level="1">
  <Info>
    <Name>@Конструктор формы</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c76c8886-09f4-49ab-a11b-64f154cbaf39",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title || 'Стандартная секция'}}",
      "settingsElementTypeKey": "978b6841-64fd-4ce3-b537-cffced831cdd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "90cfde1c-fc0f-4d1b-80fa-128e992bf7ee",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title || 'Генерируемая строка'}}",
      "settingsElementTypeKey": "978b6841-64fd-4ce3-b537-cffced831cdd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d399285b-1d0c-4f4b-a2f8-c158f6d89f40",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "66340e1f-bf5f-423b-8cf4-e2fdaf8d01a6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title || 'Шапка формы'}}",
      "settingsElementTypeKey": "978b6841-64fd-4ce3-b537-cffced831cdd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "585b7660-0431-40c1-912f-766d6224109a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{btnText}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>