<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe050945-6c3f-4a08-90ba-55985399f976" Alias="Конструктор тем" Level="1">
  <Info>
    <Name>Конструктор тем</Name>
    <EditorAlias>SportPriority.ThemeSelect</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>