<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8c01f17-5833-445d-ae81-3fdfb79c14b6" Alias="@Конструктор публикций" Level="1">
  <Info>
    <Name>@Конструктор публикций</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2645947b-660d-40a8-96bc-a4e2ba6f6a62",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title || 'Текст с заголовком и кнопкой'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>