<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a164a59e-290f-43f0-8697-c3cadb6fe08f" Alias="Направления - варианты отображения" Level="1">
  <Info>
    <Name>Направления - варианты отображения</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Плитка"
    },
    {
      "id": 2,
      "value": "Слайдер"
    }
  ]
}]]></Config>
</DataType>