<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0c96fca-fa6b-4f60-8d03-a5d41489d5b3" Alias="Настройки блока - Варианты оформления" Level="1">
  <Info>
    <Name>Настройки блока - Варианты оформления</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 3,
      "value": "Без акцента"
    },
    {
      "id": 1,
      "value": "Полуакцент"
    },
    {
      "id": 2,
      "value": "Акцент"
    }
  ]
}]]></Config>
</DataType>