<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c8c6044-9b3e-4b0b-b551-6aee860921b7" Alias="~Настройки SEO для соцсетей" Level="1">
  <Info>
    <Name>~Настройки SEO для соцсетей</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "da14e4df-eeda-4d78-b5ad-3d311af49783",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "SEO - социалки - лейбл",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>