<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38f8eb52-b5ef-4258-b897-30a9680e64ba" Alias="Отзывы варианты отображения" Level="1">
  <Info>
    <Name>Отзывы варианты отображения</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Список"
    },
    {
      "id": 2,
      "value": "Слайдер линейка"
    },
    {
      "id": 3,
      "value": "Одиночный слайдер"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>