<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b5412c8-a874-45b1-a7a9-5f8eeb684b39" Alias="Плитка ссылок - варианты отображения" Level="1">
  <Info>
    <Name>Плитка ссылок - варианты отображения</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "3 в ряд"
    },
    {
      "id": 2,
      "value": "4 в ряд"
    },
    {
      "id": 3,
      "value": "5 в ряд"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>