<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c2aec94-60d8-4faa-b2a5-ec2e0261a0d7" Alias="Победители - Date Picker" Level="1">
  <Info>
    <Name>Победители - Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "DD.MM.YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>