<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f196c92-202d-4409-81c3-f24606ba541e" Alias="Преимущества - Варианты отображения" Level="1">
  <Info>
    <Name>Преимущества - Варианты отображения</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Стандартные"
    },
    {
      "id": 3,
      "value": "Линейка"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>