<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9097f20b-7688-44f7-9dc1-224ffcbde7d4" Alias="Программы занятий - Категории занятий" Level="1">
  <Info>
    <Name>Программы занятий - Категории занятий</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Все"
    },
    {
      "id": 2,
      "value": "Групповые"
    },
    {
      "id": 3,
      "value": "Индивидуальные"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>