<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a5963aa-eaf2-489c-be75-687aaa275d0d" Alias="Пропорции видео" Level="1">
  <Info>
    <Name>Пропорции видео</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "16:9"
    },
    {
      "id": 2,
      "value": "4:3"
    },
    {
      "id": 3,
      "value": "1:1"
    },
    {
      "id": 4,
      "value": "9:16"
    }
  ]
}]]></Config>
</DataType>