<?xml version="1.0" encoding="utf-8"?>
<DataType Key="defc064d-b9de-4d38-b0ac-c28a117f4bd3" Alias="Расположение картинки по вертикали" Level="1">
  <Info>
    <Name>Расположение картинки по вертикали</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Верх"
    },
    {
      "id": 2,
      "value": "Центр"
    },
    {
      "id": 3,
      "value": "Низ"
    }
  ]
}]]></Config>
</DataType>