<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8028276-9888-41c5-a40b-dddb427fb235" Alias="Rich Text Editor Mini" Level="1">
  <Info>
    <Name>Rich Text Editor Mini</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "link",
      "unlink"
    ],
    "stylesheets": [
      "/css/rte-backend.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "medium"
}]]></Config>
</DataType>