<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e95c672-7b88-4b0a-8b59-3c2e9aa23ee9" Alias="Селектор шаблона формы" Level="1">
  <Info>
    <Name>Селектор шаблона формы</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": true,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/be1f522a982d4b1389bffec8b29ce7ad"
}]]></Config>
</DataType>