<?xml version="1.0" encoding="utf-8"?>
<DataType Key="429acd61-86f1-486b-a250-3f02cfb098a6" Alias="@Шапка-подвал" Level="1">
  <Info>
    <Name>@Шапка-подвал</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "87a783b2-d8d3-4fdd-9ff4-16d2e8e33915",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a24f1b26-c92c-4309-ae43-30136263caaa",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "ЛОГО",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7d82f156-06bb-441f-be10-f04383d1370f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c3fceff0-93e2-4107-b8a0-3dca39955f73",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "155a4049-86f1-45eb-815a-72bde811c42e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a78cccdb-429a-4379-9323-79e3833a9120",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4d4e5e65-3e32-47c3-94f0-4af1a454c229",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "73f7296e-eda5-4b02-9872-12913f195cd8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6fd82dc7-a160-45b0-9799-6248b9035535",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2302cafb-31d2-4159-8efe-0035e8277562",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0db06ed6-8c8b-4a79-b563-0aba1944d1b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": "5f5aca14-6966-4864-a3cb-6c519dd3e1c5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9f62e8eb-9276-4365-b4c7-fbb8a802e76b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": true,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>