<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8c5faf0-90fa-4e18-9fa1-d3c0141f70f6" Alias="Список инпутов" Level="1">
  <Info>
    <Name>Список инпутов</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3ebdb9e6-04bf-44b7-b354-1ad7827e5eec",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{propertyName || propertyAlias || 'Поле списка'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>