<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd916b89-49c0-4b86-bd9d-4a74a6792c05" Alias="Список Ссылок с выбором состояния" Level="1">
  <Info>
    <Name>Список Ссылок с выбором состояния</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "434220cc-7813-4f23-abac-81598fb4a75b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{link.Url || 'Ссылка'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>