<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4a607ba-4106-4d73-ae33-b5445e9632c9" Alias="~ Список Универсальный Строка текста" Level="1">
  <Info>
    <Name>~ Список Универсальный Строка текста</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "00ceead4-46e5-4369-b7e0-0899304bdbd0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{textStiring || 'Тескт'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>