<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a5a224a-0a2f-44e2-815e-1b008d8cdba4" Alias="~ Список иконка-заголовок текст" Level="1">
  <Info>
    <Name>~ Список иконка-заголовок текст</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "38655ba1-1b4b-4d92-88a5-6b79aa893a04",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title|| 'Иконка заголовок текст'}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>