<?xml version="1.0" encoding="utf-8"?>
<DataType Key="386fd99d-a842-4484-97bd-519ab9e9f393" Alias="Тип типового поля формы" Level="1">
  <Info>
    <Name>Тип типового поля формы</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Строка текста"
    },
    {
      "id": 2,
      "value": "Дата"
    },
    {
      "id": 3,
      "value": "Email"
    },
    {
      "id": 4,
      "value": "Телефон"
    },
    {
      "id": 5,
      "value": "Флажок"
    },
    {
      "id": 6,
      "value": "Капча"
    },
    {
      "id": 7,
      "value": "Многострочный текст"
    },
    {
      "id": 8,
      "value": "Вложение"
    },
    {
      "id": 9,
      "value": "Почта или телефон"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>