<?xml version="1.0" encoding="utf-8"?>
<DataType Key="841ecba7-cb58-4b9d-8e8f-acc6446b4cf2" Alias="Тренеры - варианты отображения" Level="1">
  <Info>
    <Name>Тренеры - варианты отображения</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Плитка"
    },
    {
      "id": 2,
      "value": "Слайдер"
    }
  ]
}]]></Config>
</DataType>