<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6c6039e-5db1-48d0-9aad-6aa875fd1efc" Alias="Уровни затенения картинки" Level="1">
  <Info>
    <Name>Уровни затенения картинки</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "10%"
    },
    {
      "id": 2,
      "value": "20%"
    },
    {
      "id": 3,
      "value": "30%"
    },
    {
      "id": 4,
      "value": "40%"
    },
    {
      "id": 5,
      "value": "50%"
    },
    {
      "id": 6,
      "value": "60%"
    },
    {
      "id": 7,
      "value": "70%"
    },
    {
      "id": 8,
      "value": "80%"
    },
    {
      "id": 9,
      "value": "90%"
    },
    {
      "id": 10,
      "value": "100%"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>