<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4a2f7e2-dd48-4595-b5d4-0c6ecf8c13e1" Alias="Варианты Лайаута для  колонок" Level="1">
  <Info>
    <Name>Варианты Лайаута для  колонок</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "3 в ряд"
    },
    {
      "id": 2,
      "value": "4 в ряд"
    },
    {
      "id": 3,
      "value": "5 в ряд"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>