<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c3158ac-e1d8-493d-bdf8-6516a287f5fe" Alias="Варианты лайаута для текстовой плитки" Level="1">
  <Info>
    <Name>Варианты лайаута для текстовой плитки</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Заголовок с текстом"
    },
    {
      "id": 2,
      "value": "Заголовок с числом"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>