<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3a1f450-7909-4531-aa52-8518cb7c7595" Alias="Выбор города - Content Picker" Level="1">
  <Info>
    <Name>Выбор города - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/eb7bcd9d5d2b4223a6f9f6a6ed811c55"
}]]></Config>
</DataType>