<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99108913-ec8b-4bb3-bab9-52b5761197d2" Alias="Выбор новостных статей" Level="1">
  <Info>
    <Name>Выбор новостных статей</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "newsItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>