<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c84bebb-31a7-492e-9607-1a47ad1b39b2" Alias="Выбор справочника - Номинации" Level="1">
  <Info>
    <Name>Выбор справочника - Номинации</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/23077e41b95e43239434d4fc1c57d3f4"
}]]></Config>
</DataType>