<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db455adc-6c79-4c78-8096-81653d90d90f" Alias="Выбор Год - Content Picker" Level="1">
  <Info>
    <Name>Выбор Год - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/d837cb0112e341e481d6789dfe74c8e7"
}]]></Config>
</DataType>