<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bbdb46a-07dc-41a4-8c5d-bf5dddbe7066" Alias="Выбор Победители - Content Picker" Level="1">
  <Info>
    <Name>Выбор Победители - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/22e2b43ad2cb4cf68b489ea3e4f9ecbb"
}]]></Config>
</DataType>