<?xml version="1.0" encoding="utf-8"?>
<DataType Key="365577de-4205-473c-b55e-0f279b150a22" Alias="Выбор многих городов" Level="1">
  <Info>
    <Name>Выбор многих городов</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "dictionaryItem",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/eb7bcd9d5d2b4223a6f9f6a6ed811c55",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>