.coaches {
    .coach {
        a {
            display: flex;
            flex-direction: column;
        }

        &__info {
            padding: 1rem;
            @include adaptiv-font(23, 17);
        }

        &__photo {
            width: 100%;
            aspect-ratio: 1/1;
        }

        &__job {
            font-size: 0.8em;
            margin-bottom: 10px;
        }

        &__name {
            font-weight: 800;
        }
    }
}
