/* Общие стили для шапки и подвала */
.header, .footer {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    color: var(--mainMenuColor);

    &__item {
      padding: 7px;
      transition: .3s;
      -webkit-transition: .3s;
    }
  }
}

.header {
  .navigation__item {
    &:hover {
      color: var(--mainMenuHoverColor);
    }
  }
}

.header__content, .footer__content {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;

  .hLogo {
    display: flex;
    flex: 0 0 250px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .headerRow {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: space-between;
    margin: 7px 0;
  }

  .headerColumn {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
  }

  .hButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
  }

  .hLine {
    flex-grow: 1;
  }

  @include resp(0, $size-md-end) {
    .hButtons {
      width: min-content;
    }
  }
}


  .footer__content .headerRow {
    flex-wrap: wrap;
  }
