.linearSlider {
    position: relative;

    &__item {
        background-size: cover;
        height: 100%;
    }
}

.linear {
    & a {
        height: 100%;
        display: block;
        transition: all .3s ease;

        &:hover {
            opacity: 0.9;
            transform: scale(0.98);
            transition: all .3s ease;
        }
    }
}

.linear_arrows {
    display: none;
}

.swiper-pagination.linear_pagination {
    position: static;
    margin-top: 8px;
}



