@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div class="formLabel">
    @if (Model.Content.HasValue("labelText"))
    {
    <div class="formLabel__caption">@Html.Raw(Model.Content.Value("labelText"))</div>
    }
    @if (Model.Content.HasValue("labelNotise")){
        <div class="formLabel__notice">@Model.Content.Value("labelNotise")</div>
    }
    @if (Model.Content.HasValue("labelHint")){
       <div class="hintBody">@Model.Content.Value("labelHint")</div>
    }
</div>