@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<h3 class="form-caption">
    @Model.Content.Value("headline")

    @if (Model.Content.HasValue("headerHint"))
    {
        <i class="hintIcon">?</i>
        <span class="hintBody text">
            @Model.Content.Value("headerHint")
        </span>
    }
</h3>