@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<h2 class="form-caption">@Model.Content.Value("headline")</h2>

    @if (Model.Content.HasValue("headerHint"))
    {
       
        <div class="hintBody text">
            @Model.Content.Value("headerHint")
        </div>
    }
