<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="82a01eea-7160-419d-be5c-e6263e6b5067" Alias="validate-phone-mask" Level="1">
  <Info>
    <Parent>Валидаторы формы</Parent>
  </Info>
  <Translations>
    <Translation Language="ru-RU">+7 (000) 000-00-00</Translation>
  </Translations>
</Dictionary>