<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f26cc682-1870-4daf-9ecd-83ee7d1a36bd" Alias="validate_GenericError" Level="1">
  <Info>
    <Parent>Валидаторы формы</Parent>
  </Info>
  <Translations>
    <Translation Language="ru-RU">Проверьте значение поля</Translation>
  </Translations>
</Dictionary>