<?xml version="1.0" encoding="utf-8"?>
<Macro Key="c2e5a3c8-d471-4447-b9bc-40bbfbccc6f7" Alias="rteLinkAsButton" Level="0">
  <Name>rteLinkAsButton</Name>
  <MacroSource>~/Views/MacroPartials/rteLinkAsButton.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Текст кнопки</Name>
      <Alias>caption</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.TextBox</EditorAlias>
    </Property>
    <Property>
      <Name>Ссылка</Name>
      <Alias>link</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>