<?xml version="1.0" encoding="utf-8"?>
<Macro Key="b508313e-6516-4813-bbf3-b0b89fb1fb45" Alias="sysPageMetaInfo" Level="0">
  <Name>sysPageMetaInfo</Name>
  <MacroSource>~/Views/MacroPartials/sysPageMetaInfo.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>true</CachedByPage>
  <CachedDuration>10</CachedDuration>
  <Properties />
</Macro>