/* Base breakpoints */
@import 'vars.css';
@import "fonts.generated.css";
.btn {
  border-radius: 0.5em;
  color: #fff;
  background-color: var(--buttonAndLinkColor);
  font-weight: 500;
}
.btn:hover {
  background-color: var(--linkColorHovered);
}
.btn--link {
  padding-left: 0;
  text-align: initial;
  color: var(--accent);
  background-color: transparent;
}
.btn--link:hover {
  color: var(--textColor);
  background-color: transparent;
}
.btn--revert, .btn.revert {
  background-color: #fff;
  color: var(--buttonAndLinkColor);
}
.btn--remove {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 20px 0.5em 0;
  min-width: 0;
  background-color: transparent;
  color: var(--btn);
}
.btn--remove:hover {
  color: var(--textColor);
  background-color: transparent;
}
.btn--bordered {
  background-color: transparent;
  color: var(--btn);
  border: 1px solid currentColor;
}
.btn--bordered:hover {
  opacity: 0.7;
}
.btn--addItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #63627A;
  background-color: rgba(0, 0, 176, 0.062745098);
  font-weight: 500;
}
.btn--addItem .icon {
  margin-left: 0.85em;
}
.btn--addItem:hover {
  color: #fff;
  background-color: #63627A;
}

/*tabs*/
.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.tabs__control {
  position: relative;
  flex: 1 1 auto;
  text-align: initial;
  line-height: 1;
}
.tabs__control.current .tab__control-label, .tabs__control.ready .tab__control-label {
  font-weight: 500;
}
.tabs__control.current .tabs__control-step {
  color: var(--accent);
}
.tabs__control.ready .tabs__control-step {
  border-color: var(--accent);
  background-color: var(--accent);
  color: #fff;
}
.tabs__control.ready:after {
  background-color: var(--accent);
}
.tabs__control:after {
  content: "";
  position: absolute;
  top: 15px;
  height: 2px;
  background-color: var(--light);
  left: 35px;
  width: calc(100% - 40px);
}
.tabs__control:last-child:after {
  display: none;
}

.tabs__control-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  padding: 0.25em;
  border: 2px solid;
  border-radius: 100%;
  aspect-ratio: 1;
  color: var(--light);
}

.tab__control-label {
  display: block;
  margin-top: 1em;
  color: var(--dark);
}

.tab__body .block__content {
  padding-left: 0;
  padding-right: 0;
}

/*theme style*/
.header {
  padding: 12px 0;
  background-color: #fff;
}
@media (max-width: 650px) {
  .header {
    padding: 0;
  }
}

.header__content._desktop .headerRow {
  margin: 0.5em 0 0 0;
  align-items: center;
}
.header__content._desktop .navigation {
  justify-content: flex-start;
  width: 90%;
  font-size: 15px;
  column-gap: 0.8em;
}
@media (max-width: 1200px) {
  .header__content._desktop .navigation {
    width: 100%;
    column-gap: 0.2em;
  }
}
.header__content._desktop .navigation__item {
  flex: 0 1;
  position: relative;
  padding: 0.45em 0.75em 1em 0.75em;
  line-height: 1;
  text-align: center;
}
@media (max-width: 1200px) {
  .header__content._desktop .navigation__item {
    padding: 0.45em 0.5em 1em 0.5em;
  }
}
.header__content._desktop .navigation__item:before, .header__content._desktop .navigation__item:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.header__content._desktop .navigation__item:before {
  inset: 0 0 0.45em 0;
  border-radius: 0.5em;
  pointer-events: none;
  background-color: var(--halfAccent);
  z-index: -1;
}
.header__content._desktop .navigation__item:after {
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--accent);
}
.header__content._desktop .navigation__item:hover:before {
  opacity: 1;
}
.header__content._desktop .navigation__item.current {
  color: var(--mainMenuHoverColor);
}
.header__content._desktop .navigation__item.current:after {
  opacity: 1;
}
@media (max-width: 1200px) {
  .header__content._desktop .hLogo {
    flex: 0 0 80px;
  }
}
.header__content._desktop .btn--small {
  padding: 0.5em 1.5em 0.75em 1.5em;
}
@media (max-width: 1200px) {
  .header__content._desktop .btn--small {
    padding: 0.5em 0.5em 0.75em 0.5em;
  }
}
.header__content._desktop .btn.revert {
  padding: 0.5em;
}
@media (max-width: 650px) {
  .header__content._mobile .hIconLinkBlock {
    display: none;
  }
}

.header__menu._mobile {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}
.header__menu._mobile .navigation {
  align-items: initial;
  margin-top: 70px;
}
.header__menu._mobile .hIconLinkBlock {
  flex-direction: column;
  align-self: stretch;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .header__menu._mobile .hIconLinkBlock .hIconLinkBlock__btn {
    width: 100%;
  }
  .header__menu._mobile .hIconLinkBlock .hIconLinkBlock__btn + .hIconLinkBlock__btn {
    margin-top: 20px;
  }
}

.burger__line {
  background-color: var(--dark);
}

/*.hLogoGroup*/
.hLogoGroup {
  width: 240px;
}

.hLogoGroup__item {
  width: 100%;
}
.hLogoGroup__item:first-child {
  flex: 0 1 40%;
  padding-right: 14px;
}
.hLogoGroup__item:last-child {
  flex: 0 1 60%;
  padding-left: 14px;
  border-left: 1px solid #A4ABB1;
}
.hLogoGroup__item:only-child {
  flex: 0 1 100%;
  padding: 0;
  border: none;
}

/*mainBanner*/
.mainBanner__content {
  max-width: calc(590px + 5vw);
  padding: 20px 5vw 20px 0;
  z-index: 1;
}
.mainBanner__content:before, .mainBanner__content:after {
  content: "";
  position: absolute;
  background-color: var(--mainColor, #fff);
  opacity: 0.8;
  z-index: -1;
}
.mainBanner__content:before {
  inset: 0;
}
.mainBanner__content:after {
  top: 0;
  bottom: 0;
  width: 100vw;
  right: 100%;
}
@media (max-width: 768px) {
  .mainBanner__content {
    max-width: 100%;
    padding: 20px 0;
    color: var(--textColor);
  }
  .mainBanner__content:before, .mainBanner__content:after {
    display: none;
  }
}

.mainBanner__background img {
  aspect-ratio: 3/1;
  object-fit: cover;
  object-position: bottom center;
  min-height: 495px;
}
@media (max-width: 768px) {
  .mainBanner__background img {
    aspect-ratio: 2/1;
    min-height: 250px;
  }
}

.mainBanner__title {
  margin: -4.5% 0 0.2em 0;
}
@media (max-width: 1100px) {
  .mainBanner__title {
    margin: 0 0 0.2em 0;
  }
}

.mainBanner__container {
  align-self: center;
}

.mainBanner__actions .btn {
  background-color: #fff;
  color: var(--mainColor);
  font-size: 18px;
}
@media (max-width: 768px) {
  .mainBanner__actions .btn {
    background-color: var(--mainColor);
    color: #fff;
  }
}
.mainBanner__actions .btn:hover {
  opacity: 0.8;
}
.mainBanner__actions .btn--bordered {
  background-color: transparent;
  color: currentColor;
}
@media (max-width: 768px) {
  .mainBanner__actions .btn--bordered {
    color: var(--mainColor);
  }
}

/*form*/
input, textarea, .select-wrapper select {
  border-color: var(--border);
}

textarea {
  min-height: 132px;
}

.block--form {
  padding: 20px 0;
}

.form-row + .form-row {
  margin-top: 25px;
}
.form-row--isBordered {
  position: relative;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 16px;
}
.form-row--isBordered .formLabel__caption {
  width: calc(100% - 90px);
}
.form-row--isBordered .btn--remove {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-group .input {
  margin-top: auto;
}

.form-caption {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.form-label {
  min-height: 1.5em;
}

.formLabel__caption {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.formLabel__notice {
  font-size: 0.85em;
  margin-top: 10px;
}

.textareaWrapper {
  position: relative;
}
.textareaWrapper .textarea-char-counter {
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: rgba(0, 0, 144, 0.1254901961);
  font-size: 11px;
  line-height: 1.64;
  font-style: italic;
  letter-spacing: 0.1px;
  user-select: none;
  pointer-events: none;
}

/*radio && checbox*/
.input-row__body {
  position: relative;
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.input-row__body[type=radio] {
  border-radius: 100%;
  background: #fff;
}
.input-row__body[type=radio]:checked {
  padding: 2px;
  background: radial-gradient(circle closest-side, #fff 4px, var(--accent) 5px, var(--accent) 20px);
  border-color: var(--accent);
}
.input-row__body[type=checkbox] {
  border-radius: 0.25em;
}
.input-row__body[type=checkbox]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' width='22px' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E");
  background-position: -2px -2px;
  background-color: var(--accent);
  border-color: var(--accent);
}

.input-row + .input-row {
  margin-top: 0.45em;
}

/*footer*/
.footer {
  padding: 20px 0;
  background-color: #EFEFFA;
  font-size: 14px;
}
@media (max-width: 650px) {
  .footer {
    padding: 20px 0 35px 0;
  }
}
.footer .hTitleTextIcon {
  display: flex;
  flex-direction: column;
  flex: 0 1 35%;
}
@media (max-width: 650px) {
  .footer .hTitleTextIcon {
    flex: 1 1 100%;
  }
}
.footer .hTitleTextIcon .footer__text {
  font-size: 14px;
  margin-bottom: 20px;
}
.footer .hTwoLevelNavigation {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
}
@media (max-width: 650px) {
  .footer .hTwoLevelNavigation {
    flex: 1 1 100%;
  }
}
.footer .hTwoLevelNavigation .navigation__item:first-child {
  padding-top: 0;
}
.footer .copyright {
  padding: 0;
  margin-top: auto;
  font-size: 14px;
  text-align: inherit;
}

.footer__content .headerRow {
  align-items: stretch;
  margin: 0;
}

:root {
  --dark: #333244;
  --light: #04007347;
  --border: #00009020;
  --btn: #8B8AA9;
  --desktopGap: 20px;
  --mobileGap: 8px;
  --mainColor: #f3920a;
}

/*html,
body {
  scrollbar-gutter: stable;
}*/
html {
  font-size: var(--fontSize);
  font-family: var(--fontFamily), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--textColor);
}

.text a, .copyright a {
  color: var(--buttonAndLinkColor);
}
.text a:hover, .copyright a:hover {
  color: var(--linkColorHovered);
}

.hSocials__icon .cls-1 {
  fill: var(--accent);
}

.prices__item {
  border-bottom: 1px solid #dddee3;
}

.block__header .block__title {
  position: relative;
  display: inline-block;
}

div[class^=tb-grid-md] {
  grid-row: span var(--rowSpan);
}
@media (max-width: 768px) {
  div[class^=tb-grid-md] {
    grid-row: auto;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/main.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_btn.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_tabs.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_header.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_mainBanner.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_formsInital.scss%22,%22file:///D:/%25D0%25BF%25D1%2580%25D0%25BE%25D0%25B5%25D0%25BA%25D1%2582%25D1%258B/hellForm/ClubSite/wwwroot/css/theme-vmeste/styles/_footer.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAC;AAsIO;AACA;ACvIR;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EACE;EACA;;AAGF;EDsBA;EACA;EAGE;EAoBA;EC5CA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;;AAIJ;EDDA;EACA;EAWE;EAYA;ECrBA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;;;AC9DL;AACD;EFgDE;EACA;EAGE;EAgCA;EElFF;;;AAGF;EACE;EACA;EACA;EACA;;AAGE;EACE;;AAKF;EACE;;AAKF;EACE;EACA;EACA;;AAGF;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;;AAMN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;;;AAKA;EACE;EACA;;;AC5EJ;AAEA;EACE;EACA;;AHuFA;EGzFF;IAKI;;;;AAMA;EACE;EACA;;AAGF;EACE;EACA;EAEA;EACA;;AHoEJ;EGzEE;IAQI;IACA;;;AAKJ;EACE;EACA;EACA;EACA;EACA;;AHsDJ;EG3DE;IAQI;;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAIJ;EACE;;AAEA;EACE;;AHeR;EGVE;IAEI;;;AAKF;EACE;;AHEN;EGHI;IAII;;;AAIJ;EACE;;AHNN;EGYE;IAEI;;;;AAON;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;;AHpCJ;EGuCM;IACE;;EAEA;IACE;;;;AASV;EACE;;;AAIJ;AACA;EACE;;;AAIF;EACE;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;;AC1KJ;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;;AJmEF;EIxFF;IAyBI;IACA;IACA;;EAEA;IACE;;;;AAMJ;EACE;EACA;EACA;EACA;;AJgDF;EIpDA;IAOI;IACA;;;;AAKN;EACE;;AJsCA;EIvCF;IAII;;;;AAKJ;EACE;;;AAIA;EACE;EACA;EACA;;AJsBF;EIzBA;IAMI;IACA;;;AAGF;EACE;;AAGF;EACE;EACA;;AJSJ;EIXE;IAKI;;;;ACrFR;AAEA;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAKA;EACE;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;;;AAMJ;EACE;;;AAIJ;EACE;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAIJ;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;EACA;EACA;EACA;;;AAMJ;EACE;;;ACjIJ;AAEA;EACE;EACA;EACA;;ANsFA;EMzFF;IAMI;;;AAGF;EACE;EACA;EACA;;AN6EF;EMhFA;IAMI;;;AAGF;EACE;EACA;;AAIJ;EACE;EACA;EACA;;AN8DF;EMjEA;IAMI;;;AAIA;EACE;;AAKN;EACE;EACA;EACA;EACA;;;AAKF;EACE;EACA;;;AN6FJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAMA;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;AAEA;EACE;;;AAIJ;EACE;;;AAGF;EACE;;;AAIF;EAEE;EACA;;;AAGF;EACE;;AAzGA;EAwGF;IAII%22%7D */