/* автоматически сгенерированный файл */
:root{
--background:#ffffff;
--textColor:#333244;
--fontSize:16px;
--buttonAndLinkColor:#f3920a;
--linkColorHovered:#e78700;
--mainMenuColor:#020027;
--mainMenuHoverColor:#333244;
--accent:#ff9f26;
--halfAccent:#040073;
--fontFamily:Cera Pro;
--altColor:#ffffff;
}