@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Web.Common.PublishedModels.FormTextEditor>
<section class="block block--form" style=" --veil:0%;">
    <div class="block__content">       
      @Model.Value("textEditor")
    </div>
</section>