
.advantageCollection {
}

.advantageCollection__item {
  margin-top: 0px;
}

.advantageCollection__icon {
  max-width: 33px;
}

.advantageCollection__body {
}

.advantageCollection__title {
}

.advantageCollection__text {
  //@include bp(768px) {
  //  font-size: 14px;
  //}
}

.advantageCollection__item--inline .advantageCollection__title {
  margin-bottom: 0;
}

.advantageCollection__item--inline .advantageCollection__icon {
  flex: 0 0 36px;
  margin-right: 1em;
}

.text__wrapper, .advantageCollection {
  max-width: 865px;
}
