/*theme style*/

.header {
  padding: 16px 0;
}

.header__content {
  &._desktop {
    .headerRow {
      margin: 0.5em 0 0 0;
      align-items: center;
    }

    .navigation {
      justify-content: flex-start;
      width: 90%;
      //border-bottom: 1px solid var(--halfAccent);
      font-size: 15px;
      column-gap: 0.8em;

      @include bp(1200px) {
        width: 100%;
        column-gap: 0.2em;
      }
    }


    .navigation__item {
      flex: 0 1;
      position: relative;
      padding: 0.45em 0.75em 1em 0.75em;
      line-height: 1;
      text-align: center;

      @include bp(1200px) {
        padding: 0.45em 0.5em 1em 0.5em;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s linear;
      }

      &:before {
        inset: 0 0 0.45em 0;
        border-radius: 0.5em;
        pointer-events: none;
        background-color: var(--halfAccent);
        z-index: -1;
      }

      &:after {
        top: calc(100% - 1px);
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--accent);
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }

      &.current {
        color: var(--mainMenuHoverColor);

        &:after {
          opacity: 1;
        }
      }
    }

    .hLogo {
      @include bp(1200px) {
        flex: 0 0 80px;
      }
    }

    .btn {
      &--small {
        padding: 0.5em 1.5em 0.75em 1.5em;
      }

      &.revert {
        padding: 0.5em 0.5em;
      }
    }
  }

  &._mobile {
    background-color: #fff;
  }
}

.header__menu {
  &._mobile {
    background-color: #fff;
  }
}

.burger {
  &__line {
    background-color: var(--accent);
  }
}

/*.hLogoGroup*/
.hLogoGroup {
  width: 240px;
  //grid-template-columns: 40% 60%;
}

.hLogoGroup__item {
  width: 100%;

  &:first-child {
    flex: 0 1 40%;
    padding-right: 14px;
  }

  &:last-child {
    flex: 0 1 60%;
    padding-left: 14px;
    border-left: 1px solid #A4ABB1;
  }

  &:only-child {
    flex: 0 1 100%;
    padding: 0;
    border: none;
  }
}
