.content__wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrapper__nomination {
  border: 1px solid #F3920A;
  border-radius: 8px;
  padding: 20px;
  flex: 0 1 calc(33% - 20px);

  &:hover {
    background-color: #FFEDD2;
  }
}

.nomination__icon {
}

.nomination__title {
  font-size: fFS(20px,20px,390px,1440px);
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.08px;
}

.wrapper__nomination--elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.nomination__text {
  max-width: 333px;
  font-size: fFS(16px,16px,390px,1440px);
  margin-top: 0.5em;
  font-weight: 400;
}

.styleTitle {
  font-weight: bold;
}

.content__wrapper > h2 {
  font-weight: bold;
}
