.proviso__title {
  font-size: fFS(24px,28px,390px,1440px);
}

.content__wrap {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  gap: 10px;

  @include bp(600px) {
    flex-direction: column;
    gap: 8px;
  }
}

.wrapper__proviso {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid #D8D7EB;


  @include bp(600px) {
    flex-direction: column;
  }
}

.wrapper__proviso--text {
  padding: 1em 1.4em;
  border-radius: 16px;
  max-width: 329px;
  align-content: flex-start;
  flex-direction: row;

  @include bp(600px) {
    max-width: 100%;
    padding: 0.6em 0.8em;
  }

  &.colorful {
    background-color: #FFEDD2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include bp(600px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      gap: 8px;
    }
  }
}

.proviso__head {
  font-size: fFS(20px,24px,390px,1440px);
}

.proviso__text, .proviso__secondText {
  font-size: fFS(16px,16px,390px,1440px);
  line-height: 24px;
  font-weight: 400;
}



.proviso__sum, .proviso__head {
  font-weight: bold;
  font-weight: 700;
  font-size: 24px;
}

.proviso__sum {

  @include bp(600px) {
    font-size: 16px;
  }
}

.proviso__head {
  font-size: fFS(20px,24px,390px,1440px);
}
